extends layout

block content
  h1= title
  - let fish=results
  div(class="container-fluid")
  div(class="row")
   each f,index  in fish
    div(class="col-sm-2" onclick =`buy(${index})`) #{f.fish_type}, #{f.fish_weight}, #{f.fish_cost}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        } 

   